/* @import "~ubuntu-fontface/ubuntu.css"; */
/* @import "https://fonts.googleapis.com/icon?family=Material+Icons"; */
/* @import "~material-design-icons/iconfont/material-icons.css"; */

/* @import "../assets/material-icons.css"; */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

* {
  user-select: none;
}

html, body, #app {
  font-weight: 400;
  font-family: 'Ubuntu';
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  color: #333333;
  cursor: default;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

td {
  padding: 0.5rem; 
}

.offline {
  opacity: 0.5;
}

.dropzone-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.dropzone {
  height: 100%;
  width: 100%;
}
