@import "~ubuntu-fontface/ubuntu.css";

* {
  user-select: none;
}

html, body, #App {
  font-weight: 400;
  font-family: 'Ubuntu';
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: white;
  color: #333333;
  cursor: default;
}
